[submodule "KoEngine/vendor/spdlog"]
	path = KoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "KoEngine/vendor/The-Forge"]
	path = KoEngine/vendor/The-Forge
	url = https://github.com/ConfettiFX/The-Forge
